@model IndexViewModel;
@{
    ViewData["Title"] = "Result";
}

<h2>Исходные данные</h2>
@*<table class="table">
    <thead>
        <tr>
            <td>Параметр</td>
            <td>Значение</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Расход воздуха, м3/ч</td>
            <td>@Model.Input.Air_Spend</td>
        </tr>
        <tr>
            <td>Давление воздуха, мбар</td>
            <td>@Model.Input.Air_Pressure</td>
        </tr>
        <tr>
            <td>Температура подогрева воздуха, *C</td>
            <td>@Model.Input.Air_Temperature</td>
        </tr>
        <tr>
            <td>Температура подогрева воздуха, *C</td>
            <td>@Model.Input.Smoke_Temperature</td>
        </tr>
        <tr>
            <td>Вязкость, усл. ед.</td>
            <td>@Model.Input.Viscosity</td>
        </tr>
        <tr>
            <td>Температура расплава, *C</td>
            <td>@Model.Input.Melt_Temperature</td>
        </tr>
        <tr>
            <td>Содержание CO, %</td>
            <td>@Model.Input.CO_Percentage</td>
        </tr>
        <tr>
            <td>Содержание CO2, %</td>
            <td>@Model.Input.CO2_Percentage</td>
        </tr>
        <tr>
            <td>Содержание N2, %</td>
            <td>@Model.Input.N2_Percentage</td>
        </tr>
        <tr>
            <td>Содержание O2, %</td>
            <td>@Model.Input.O2_Percentage</td>
        </tr>
    </tbody>
</table>

<p>@Model.Result</p>*@